{% extends '::base.html.twig' %}

{% block topbody %}
    <h1>Page du club {{ entity.name }}</h1>
{% endblock %}

{% block body -%}
    <section class="widget">
        <header class="widget-header">
            <p class="h5">Club</p>
            <h2>{{ entity.name }}</h2>
        </header>
        <div class="widget-row">
            <dl>
                {% if entity.createdBy is not empty %}
                    <dt>Membre créateur :</dt>
                    <dd>
                        {{ entity.createdBy.username }}
                    </dd>
                {% endif %}
                {% if entity.website is not empty %}
                    <dt>Site internet :</dt>
                    <dd>{{ entity.website }}</dd>
                {% endif %}
            </dl>
        </div>
    </section>
{% endblock %}
