{% extends '::base.html.twig' %}

{% block topbody %}
    <h1>Modifier un sport</h1>
    <p><a href="{{ path('sport') }}">Revenir à la liste des sports</a></p>
{% endblock %}

{% block body -%}
    <section class="widget">
        <div class="widget-row">
            {{ form(edit_form) }}
        </div>
        <div class="widget-row">
            {{ form(delete_form) }}
        </div>
    </section>
{% endblock %}
