{% extends '::base.html.twig' %}

{% block body %}
    <h1>PlayerDetail creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('playerdetail') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
    {% javascripts '@TheFirefliesSportBundle/Resources/public/js/PlayerDetail/form.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}